<!-- <div (click)="navigate(item.id)"> -->
    <mat-card (click)="navigate(item.id)"> 
        <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
          </mat-card-header>
        <img mat-card-image src="{{item.poster}}" alt="">

        <mat-card-footer>
          <div class="p-2">

            <mat-chip-listbox>
              <mat-chip *ngFor="let value of item.genre; let i = index">{{ value }}</mat-chip>
            </mat-chip-listbox>
          </div>
        </mat-card-footer >


      </mat-card>
<!-- </div> -->
