.menu-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  top: 0px;
  left: -100vh;
  transition: all 0.5s linear;
  .left-menu {

    height: 100vh;
    flex: 0 0 300px;
    z-index: 4;
    & .section{
        padding: 8px;
    }
  }
  .under-lay {
    flex: 1;
  }

  &.display {
    left: 0px;
  }
}
