<div *ngIf="artists.length > 0">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4">
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>{{ "form.title" | transloco }}</mat-label>
        <input
          matInput
          formControlName="title"
          [placeholder]="_translocoService.translate('form.title')"
        />
        <mat-error *ngIf="form.get('title')?.hasError('required')">{{
          "form.title-error" | transloco
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>{{ "form.poster" | transloco }}</mat-label>
        <input
          type="url"
          matInput
          formControlName="poster"
          [placeholder]="_translocoService.translate('form.poster-song')"
        />
        <mat-error *ngIf="form.get('poster')?.hasError('required')">{{
          "form.poster-error" | transloco
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>{{ "form.year" | transloco }}</mat-label>
        <input matInput formControlName="year" [matDatepicker]="year" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="year"
        ></mat-datepicker-toggle>
        <mat-datepicker startView="multi-year" #year></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>{{ "form.rating" | transloco }}</mat-label>
        <input
          type="number"
          matInput
          formControlName="rating"
          [placeholder]="_translocoService.translate('form.rating')"
        />
        <mat-error *ngIf="form.get('rating')?.hasError('required')">{{
          "form.rating-error" | transloco
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>{{ "form.duration" | transloco }}</mat-label>
        <input
          type="number"
          matInput
          formControlName="duration"
          [placeholder]="_translocoService.translate('form.duration')"
        />
        <mat-error *ngIf="form.get('duration')?.hasError('required')">{{
          "form.duration-error" | transloco
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-select
          formControlName="artist"
          [placeholder]="_translocoService.translate('form.choose-a-singer')"
        >
          <mat-option *ngFor="let singer of artists" [value]="singer.id">{{
            singer.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('artist')?.hasError('required')"
          >{{ "form.singer-error" | transloco }}e</mat-error
        >
      </mat-form-field>
    </div>
    <div class="flex items-center">
      <mat-form-field>
        <mat-label>{{ "form.style" | transloco }}</mat-label>
        <input matInput formControlName="newGenre" [placeholder]="_translocoService.translate('form.new-style')" />
      </mat-form-field>
      <button
        class="ml-4"
        type="button"
        mat-raised-button
        color="primary"
        (click)="addNewGenre()"
      >
        {{ "form.add-style" | transloco }}
      </button>
    </div>

    <mat-chip-listbox>
      <mat-chip
        type="button"
        *ngFor="let value of newGenres; let i = index"
        (click)="deleteValue(i)"
        >{{ value }}</mat-chip
      >
    </mat-chip-listbox>
    <div class="flex p-8 justify-center">
      <button class="w-full" mat-raised-button color="primary" type="submit">
        {{ "form.save" | transloco }}
      </button>
    </div>
  </form>
</div>
