<div *ngIf="artists.length > 0">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4">
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>title</mat-label>
        <input matInput formControlName="title" placeholder="title" />
        <mat-error *ngIf="form.get('title')?.hasError('required')"
          >Title is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="year" [matDatepicker]="year" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="year"
        ></mat-datepicker-toggle>
        <mat-datepicker startView="multi-year" #year></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>rating</mat-label>
        <input
          type="number"
          matInput
          formControlName="rating"
          placeholder="rating"
        />
        <mat-error *ngIf="form.get('rating')?.hasError('required')"
          >rating is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-label>duration</mat-label>
        <input
          type="number"
          matInput
          formControlName="duration"
          placeholder="duration"
        />
        <mat-error *ngIf="form.get('duration')?.hasError('required')"
          >duration iis required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="w-full">
        <mat-select
          formControlName="artist"
          placeholder="Selecciona una opción"
        >
          <mat-option *ngFor="let singer of artists" [value]="singer.id">{{
            singer.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('artist')?.hasError('required')"
          >Debes seleccionar un cantante</mat-error
        >
      </mat-form-field>
    </div>
    <div class="flex items-center">
      <mat-form-field>
        <mat-label>Añadir nuevo estilo</mat-label>
        <input matInput formControlName="newGenre" placeholder="Nuevo valor" />
        <mat-error *ngIf="form.get('newGenre')?.hasError('required')"
          >El nuevo valor es requerido</mat-error
        >
      </mat-form-field>
      <button
        class="ml-4"
        type="button"
        mat-raised-button
        color="primary"
        (click)="addNewGenre()"
      >
        Añadir
      </button>
    </div>

    <mat-chip-listbox>
      <mat-chip
        type="button"
        *ngFor="let value of newGenres; let i = index"
        (click)="deleteValue(i)"
        >{{ value }}</mat-chip
      >
    </mat-chip-listbox>
    <div class="flex p-8 justify-center">
      <button class="w-full" mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
